# Lista 3
**Disciplina:** Python para Ciências de Dados
**Professor:** Gabriel Oliveira Assunção

# **Aluna:** Clara Cabral Lisboa

# Exercício 1

O dataset Titanic disponível no pacote seaborn contém dados dos passageiros do Titanic. Os campos presente no Dataset são:

1. survived: variável binária (1 se sobreviveu ou 0 contrario)
2. pclass: classe do ticket
3. sex: sexo do passageiro
4. age: idade em anos completos
5. sibsp: número de irmãos/cônjuges a bordo do navio
6. parch: número de pais/filhos a bordo do navio
7. fare: tarifa da passagem
8. embarked: porto de embarque (C=Cherbour, Q=Queenstown, S=Southampton)


Faça as análises a seguir:
1. Calcule o percentual de sobreviventes para cada classe
2. Crie uma nova coluna com o seguinte intervalos de idade:
* Idade menores que 18 anos categorizados como 0 (idade < 18)
* Idade entre 18 e 30 anos categorizados como 1 (18 <= idade < 30)
* Idade entre 30 e 50 anos categorizados como 2 (30 <= idade < 50)
* Idade maior que 50 categorizados como 3 (50<= idade)
3. Calcule o percentual de sobrevivente de cada uma das categorias de idade

In [ ]:
###IMPORTANTE RODE OS PRÓXIMOS DOIS COMANDOS PARA ACESSAR O BANCO#####

In [ ]:
%pip install seaborn

In [18]:
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [19]:
## Analise 1


sobrevivente_classe = titanic.groupby('survived')['pclass'].value_counts(normalize=True).to_frame().sort_index()*100

print('Dos passageiros que sobreviveram, quantos % eram de cada classe?')
print('Não sobreviveram: 100% se unir todas as classes com survived = 0 \nSobreviveram: 100% se unir todas as classes com survived = 1')
print(sobrevivente_classe)

Dos passageiros que sobreviveram, quantos % eram de cada classe?
Não sobreviveram: 100% se unir todas as classes com survived = 0
Sobreviveram: 100% se unir todas as classes com survived = 1
                 proportion
survived pclass
0        1        14.571949
         2        17.668488
         3        67.759563
1        1        39.766082
         2        25.438596
         3        34.795322

In [20]:
## Analise 2

titanic['intervalo_idade'] = pd.cut(titanic['age'], bins = [0, 17, 29, 49, 100], labels = ['idade < 18','18 <= idade < 30','30 <= idade < 50','50 <= idade'])
interv_idade=titanic['intervalo_idade'].value_counts()

print(interv_idade)

intervalo_idade
18 <= idade < 30    271
30 <= idade < 50    256
idade < 18          113
50 <= idade          74
Name: count, dtype: int64

In [21]:
## Analise 3

sobrevivente_interv_idade=titanic.groupby('survived')['intervalo_idade'].value_counts(normalize=True).sort_index().to_frame()*100

print('Dos passageiros que sobreviveram, quantos % estavam nos intervalos de idade determinados?')
print('Não sobreviveram: 100% se unir todos os intervalos com survived = 0 \nSobreviveram: survived 1 = 100% se unir todos os intervalos com survived = 1')
print(sobrevivente_interv_idade)

Dos passageiros que sobreviveram, quantos % estavam nos intervalos de idade determinados?
Não sobreviveram: 100% se unir todos os intervalos com survived = 0
Sobreviveram: survived 1 = 100% se unir todos os intervalos com survived = 1
                           proportion
survived intervalo_idade
0        idade < 18         12.264151
         18 <= idade < 30   41.509434
         30 <= idade < 50   35.141509
         50 <= idade        11.084906
1        idade < 18         21.034483
         18 <= idade < 30   32.758621
         30 <= idade < 50   36.896552
         50 <= idade         9.310345

# Exercício 2

O dataset Penguins contém informações sobre diferentes Pinguins:
* species: nome da espécie.
* island: ilha da coleta do dado.
* bill_length_mm: comprimento do bico
* bill_depth_mm: profundidade do bico
* flipper_length_mm: comprimento da nadadeira
* body_mass_g: peso corporal
* sex: sexo


Faça as análises a seguir utilizando as informações (bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g):


1. Calcule a média e variância de cada uma das informações.
2. Crie um data frame contendo as colunas normalizadas por Z-score. Dica: utilize apply aplicado as colunas (axis=0).
3. Calcule a média, variância, máximo e mínimo de cada uma das informações normalizadas por sexo.

In [52]:
df = sns.load_dataset('penguins')

In [54]:
## Análise 1

media = []
media = df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']].mean().to_frame().rename(columns={0:'Média'})

variancia = []
variancia = df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']].var().to_frame().rename(columns={0:'Variância'})

print(media)
print('---------------------------------')
print(variancia)

                         Média
bill_length_mm       43.921930
bill_depth_mm        17.151170
flipper_length_mm   200.915205
body_mass_g        4201.754386
---------------------------------
                       Variância
bill_length_mm         29.807054
bill_depth_mm           3.899808
flipper_length_mm     197.731792
body_mass_g        643131.077327

In [70]:
## Analise 2 Crie um data frame contendo as colunas normalizadas por Z-score. Dica: utilize apply aplicado as colunas (axis=0).
import scipy as sp
from scipy.stats import zscore

colunas_zscore = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']
normal_zscore = df.copy()
normal_zscore [numeric_columns] = normal_zscore[colunas_zscore].fillna(normal_zscore[colunas_zscore].mean()).apply(zscore, axis = 0)

normal_zscore

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,-8.870812e-01,7.877425e-01,-1.422488,-0.565789,Male
1,Adelie,Torgersen,-8.134940e-01,1.265563e-01,-1.065352,-0.503168,Female
2,Adelie,Torgersen,-6.663195e-01,4.317192e-01,-0.422507,-1.192003,Female
3,Adelie,Torgersen,-1.307172e-15,1.806927e-15,0.000000,0.000000,NaN
4,Adelie,Torgersen,-1.328605e+00,1.092905e+00,-0.565361,-0.941517,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,-1.307172e-15,1.806927e-15,0.000000,0.000000,NaN
340,Gentoo,Biscoe,5.294731e-01,-1.450118e+00,1.006038,0.811880,Female
341,Gentoo,Biscoe,1.191758e+00,-7.380718e-01,1.506028,1.939064,Male
342,Gentoo,Biscoe,2.351241e-01,-1.195816e+00,0.791756,1.250229,Female
343,Gentoo,Biscoe,1.099774e+00,-5.346299e-01,0.863183,1.500715,Male

In [72]:
## Analise 3 Calcule a média, variância, máximo e mínimo de cada uma das informações normalizadas por sexo.

metricas_zscore = pd.concat([
    normal_zscore.groupby('sex')[colunas_zscore].mean(),
    normal_zscore.groupby('sex')[colunas_zscore].var(),
    normal_zscore.groupby('sex')[colunas_zscore].max(),
    normal_zscore.groupby('sex')[colunas_zscore].min(),
]).reset_index()


metricas_zscore['metricas_zscore'] = ['Média', 'Média',
                  'Variância', 'Variância',
                  'Máx', 'Máx',
                  'Mín', 'Mín']

metricas_zscore.groupby(['metricas_zscore', 'sex'])[colunas_zscore].mean()

                        bill_length_mm  bill_depth_mm  flipper_length_mm  \
metricas_zscore sex
Máx             Female        2.589916       1.804952           1.506028
                Male          2.884265       2.211836           2.148873
Média           Female       -0.335734      -0.369102          -0.253679
                Male          0.355579       0.376318           0.256477
Mín             Female       -2.174858      -2.060444          -2.065333
                Male         -1.714938      -1.551839          -1.636769
Variância       Female        0.813754       0.834102           0.797263
                Male          0.974835       0.898152           1.079759

                        body_mass_g
metricas_zscore sex
Máx             Female     1.250229
                Male       2.627899
Média           Female    -0.425176
                Male       0.430747
Mín             Female    -1.880837
                Male      -1.192003
Variância       Female     0.696109
                Male       0.973078